:root{
    --color-links:#af670a ;
    --background-page: #f4f2ec;
    --background-aside: #ebe7dd;
    --background-aside-form: #cdc8b1;
    --color-aside-titles: #86521a;
    --color-titles-and-linkh: #227115;
    --background-aside-button: #9b9271; 
    --link-hover-border: #535858;
    --color-white:#fff;
    font-size: 75%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    background: url(../images/fundo.png) repeat-x;
    background-color: var(--background-page);
}
