#container{
    width: 1100px;
    margin: 0 auto;
}

header{
    padding: 15px 0px;
}

#logo{
    margin: 1.34em 0;
    display: block;
}

#logo a{
    line-height: 0.7rem;
}

ul{
    margin: 20px;
    list-style: none;
    float: right;
}

li{
    display: inline;
    margin-left: 25px;
}

ul a{ 
    color: var(--color-menu);
    text-decoration: none;
    padding-bottom: 4px;
    text-transform: uppercase;
}

ul a:hover{
    color: var(--link-hover);
    border-bottom: 1px solid var(--link-hover-border);
}