/* General Confg */

#container{
    width: 1080px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: var(--color-links);
}

a:hover{
    color: var(--color-titles-and-linkh);
}

h4{
    text-transform: uppercase;
}
/* End General Confg */

/* Header */
header{
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    margin: 1.34em 0;
    display: inline;
}

#logo a{
    line-height: 0.7rem;
    display: flex;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline;
    margin-right: 25px;
}

header nav ul a{ 
    padding-bottom: 4px;
    text-transform: uppercase;
}

nav ul a:hover{
    border-bottom: 1px solid var(--link-hover-border);
}

/* End Header */

/* Main */
main > img{
    float: left;
}

main section#cover, main section#posts{
    float: left;
    width: 710px;
}

main aside{
    width: 350px;
    float: right;
    background-color: var(--background-aside);
    padding-bottom: 20px;
}

main aside form{
    background-color: var(--background-aside-form);
    padding: 27px;
    margin-top: 10px;
}

main aside form fieldset{
    border: none;
}

aside form legend{
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-aside-titles);
}

aside form label{
    margin-left: 10px;
}

aside form input[type="date"]{
    width: 130px;
}
aside form input[type="number"]{
    width: 40px;
    margin-top: 10px;
}

aside form button{
    width: 100%;
    height: 40px;
    background-color: var(--background-aside-button);
    color: var(--color-white);
    border:none;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 7.5px;
}

#gallery{
    padding: 20px 27px;
}

#gallery h4{
    color: var(--color-aside-titles);
}

#gallery a{
    float: left;
    display: flex;
    width:126px;
    height: 133px;
    align-items: center;
    justify-content: center;
    background: url(../../images/fundo-foto.png) no-repeat;
    margin-left: 15px;
    margin-top: 15px;   
}

#posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#posts article h4{
    color: var(--color-titles-and-linkh);
    margin-top: 30px;
    margin-bottom: 10px;
}

.widht-article{
    width: 340px;
}

article ul{
    padding-left: 16px;
}

article ul li{
    margin-top: 5px;
}

article.widht-article p{
    text-align: justify;
    margin-bottom: 10px;
}
/* End Main */

/* footer */

footer{
    clear: both;
    text-align: center;
    padding: 30px 0px;
}

footer nav{
    margin: 20px 0px;
}

footer nav ul a:hover{
    border:none;
}
/* End footer */